/* GLOBAL STYLES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d9f0fe; /* Light background */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for dark mode */
}

body.dark-mode {
  background-color: #363636; /* Dark background */
  color: #E0E0E0; /* Light text */
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #38647a; /* Blue Grey 500 */
  color: #fff;
  padding: 25px;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for dark mode */
}

body.dark-mode header {
  background: #38647a; /* Darker background for header */
}

header h1 {
  margin: 0;
  flex: 1;
  text-align: left;
  font-size: 1.5em; /* Make the text smaller */
}

/* NAVIGATION */
nav {
  display: flex;
  gap: 15px;
  flex: 2;
  justify-content: center;
}

nav button {
  padding: 10px 15px;
  background: #CFD8DC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

body.dark-mode nav button {
  background: #5ba2c5; /* Darker background for buttons */
  color: #E0E0E0; /* Light text */
}

nav button:hover {
  background: #B0BEC5;
  transform: scale(1.05);
}

body.dark-mode nav button:hover {
  background: #444; /* Darker hover background for buttons */
}

nav span {
  align-self: center;
  font-weight: bold;
}

/* Loading Message */
#loading-message {
  text-align: center;
  margin: 5px auto;
  font-size: 15px;
  color: #000000;
  transition: opacity 0.5s ease-in-out; /* Add transition for smooth fade-out */
  height: 20px; /* Set a fixed height to prevent content shifting */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-out {
  opacity: 0;
}

/* Message Container */
#message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px; /* Adjust height as needed */
  margin: 10px 0; /* Add some margin for spacing */
}

#message {
  font-size: 18px;
  color: #382d2d;
}

body.dark-mode #message {
  color: #d3d1d1; /* Light text for message */
}

/* STATS SECTION */
.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  min-width: 150px; /* Ensures boxes don't get too narrow */
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

/* Different color boxes for stats */
.green { background: #4CAF50; }
.pink { background: #E91E63; }
.blue { background: #2196F3; }
.gray { background: #9E9E9E; }
.orange { background: #FF9800; }

/* MAIN CONTENT: Expense List & Add Expense Side by Side */
.main-content {
  display: flex;
  gap: 10px;
  margin: 20px;
}

/* EXPENSE LIST */
.expense-list {
  background: #FAFAFA;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  flex: 3; /* Wider than the form */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for dark mode */
}

body.dark-mode .expense-list {
  background: #666565; /* Dark background for expense list */
  color: #E0E0E0; /* Light text */
}

.expense-list h2 {
  text-align: center;
  margin-top: 0;
}

.filter {
  text-align: center;
  margin-bottom: 10px;
}

.filter label {
  margin: 0 10px;
}

/* Filter and Refresh Buttons */
.filter button {
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  background: #4CAF50; /* Green background */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 10px; /* Add some space between buttons */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* Adjust font size for icons */
}

.filter #filter-btn:hover {
  background: #5cca60;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

/* Refresh Button */
.filter #refresh-btn {
  background: #FF9800; /* Orange background */
}

.filter #refresh-btn:hover {
  background: #ffae34;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

/* TABLE STYLING */
table {
  width: 100%;
  border-spacing: 0;
  border-radius: 12px; /* Makes the corners rounded */
  overflow: hidden; 
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Adds a soft shadow */
  margin-top: 10px;
}

body.dark-mode table {
  background: #626161; /* Dark background for table */
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

body.dark-mode th, body.dark-mode td {
  border-color: #b8b8b8; /* Darker border color */
}

th {
  background: #dedddd;
}

body.dark-mode th {
  background: #4b4b4b; /* Dark background for table header */
}

tr:hover {
  background: #f1f1f1;
}

body.dark-mode tr:hover {
  background: #545454; /* Dark background for table row hover */
}

/* EDIT/DELETE BUTTONS */
button.edit,
button.delete {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px; /* Ensure buttons are the same size */
  height: 35px; /* Ensure buttons are the same size */
}

button.edit { background: #FAFAFA; }
button.edit:hover {
  background: #38e141;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

button.delete { background: #FAFAFA; }
button.delete:hover {
  background: #fdc11e;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
/* FOR DARK MODE EDIT/DELETE BUTTON */
.dark-mode button.edit { background: #626161; }
.dark-mode button.edit:hover {
  background: #38e141;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.1);
}

.dark-mode button.delete { background: #626161; }
.dark-mode button.delete:hover {
  background: #fdc11e;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.1);
}
/* DARK EDIT/DELETE BUNNTO END */

button.edit i,
button.delete i {
  margin: 0; /* Remove margin to center the icon */
}

/* ADD EXPENSE SECTION */
.add-expense {
  background: #fff;
  color: #333;
  font-weight: 300; 
  padding: 15px;
  border-radius: 20px;
  flex: 1; /* Narrower than the list */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for dark mode */
}

body.dark-mode .add-expense {
  background: #626161; /* Dark background for add expense section */
  color: #ffffff; /* Light text */
}

.add-expense h2 {
  text-align: center;
  margin-top: 0;
}

/* Hover effect for labels inside add-expense block */
.add-expense label:hover {
  color: #040404; /* Change text color on hover */
  font-weight: 600; /* Make text bold on hover */
}

body.dark-mode .add-expense label:hover {
  color: #ffffff; /* Light text on hover */
}

/* ADD EXPENSE BUTTON */
.add-btn {
  padding: 100px 20px;
  font-size: 16px;
  background: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.2s ease-in-out;
}

.add-btn:hover {
  background: #1976D2;
  transform: scale(1.05);
}

/* FORM FIELDS */
form {
  margin-top: 5px;
}

form label {
  display: block;
  margin: 5px 0;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #bab7b7;
  border-radius: 4px;
  outline: none; /* Remove default focus outline */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for dark mode */
}

body.dark-mode form input,
body.dark-mode form select,
body.dark-mode form textarea {
  background: #4c4c4c; /* Dark background for form fields */
  color: #E0E0E0; /* Light text */
  border-color: #444; /* Darker border color */
}


form input:hover,
form select:hover,
form textarea:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* Apply box-shadow on hover */
}

body.dark-mode form input:hover,
body.dark-mode form select:hover,
body.dark-mode form textarea:hover {
  box-shadow: 0 0 3px 4px rgba(255, 255, 255, 0.2); /* Light box-shadow on hover */
}

/* FOR SUBMIT BUTTON */
form button {
  width: 100%;
  padding: 10px;
  background: #343333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  outline: none; /* Remove default focus outline */
}

form button:hover {
  background: #06875e;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* Apply box-shadow on hover */
}

body.dark-mode form button {
  background: #444; /* Dark background for submit button */
}

body.dark-mode form button:hover {
  background: #06875e; /* Darker hover background for submit button */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* Light box-shadow on hover */
}

/* File Upload Styling */
input[type="file"] {
  display: none;
}

.file-upload-label {
  display: inline-block;
  padding: 8px 20px;
  background: #046cd4;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  max-width: 200px; /* Set a maximum width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.file-upload-label:hover {
  background: #1987fe;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* Apply box-shadow on hover */
}

body.dark-mode .file-upload-label {
  background: #333; /* Dark background for file upload label */
}

body.dark-mode .file-upload-label:hover {
  background: #1987fe; /* Darker hover background for file upload label */
}

/* OPTIONAL: Show Form Animation if needed */
.show-form {
  display: block !important;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Thumbnail image */
.thumbnail {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Image popup */
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.popup-content img {
    max-width: 100%;
    max-height: 80vh;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Mobile Optimization */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .main-content {
    flex-direction: column;
  }

  .stats {
    flex-direction: column;
  }

  .expense-list, .add-expense {
    width: 100%;
  }
}
